body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2,
h3 {
    color: #333;
}

form input,
form textarea,
form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 4px 6px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
    background-color: #2196f3;
}

.btn-add-task {
    background-color: #2196f3;
}

.btn-add-task:hover {
    background-color: #0b7dda;
}

.btn-edit {
    background-color: #4caf50;
}

.btn-edit:hover {
    background-color: #45a049;
}

.btn-delete {
    background-color: #f44336;
}

.btn-delete:hover {
    background-color: #da190b;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-logout {
    background-color: red;
}

.btn-logout:hover {
    background-color: #333333;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.action-bar {
    margin-bottom: 20px;
}

.task-actions {
    margin-top: 10px;
}

.task-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}